<nav class="navbar navbar-expand-sm  navbar-light bg-transparent fixed-top  justify-content-between">
  <a class="navbar-brand" href="/">TRIPAL</a>
  <!-- Hidden element for non-users -->
  <ul class="navbar-nav text-right">
    <li class="nav-item">
      <a class="nav-link" id="profile" href="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile" href="/signup">Sign Up</a>
    </li>
  </ul>
</nav>