/* Overall */
body {
  /* overflow-x: hidden; */
  background-color: #fcfaf2;
}

h1,
h2,
h3 {
  padding: 2rem 0;
}

p {
  padding: 1rem 0;
}

.btn {
  background-color: #bbdef0;
  color: #fcfaf2;
  font-weight: 500;
  border-width: 0;
}

/* Landing Page */
.cover-wrapper {
  background-image: url("/assets/mates/people-2590210.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 100vh;
  /* For the JQuery scroll effect */
  transition: background-image 2s ease;
  -webkit-transition: background-image 2s ease;
  -moz-transition: background-image 2s ease;
  -o-transition: background-image 2s ease;
}

.jumbotron {
  margin: 10em auto;
  z-index: 1;
}

.overlay {
  background-color: #000;
  width: 100%;
  height: 100vh;
  opacity: 0.1;
  position: absolute;
  z-index: 0;
}

.display-2 {
  letter-spacing: 0.25rem;
  font-weight: 400;
  font-style: normal;
  color: #fcfaf2;
}
.display-3 {
  letter-spacing: 0.1rem;
  font-size: 1.7rem;
  font-weight: 400;
  font-style: normal;
  color: #fcfaf2;
}

.cover-login-signup-button-box {
  margin-top: 4em;
  font-weight: 400;
}

.cover-login-signup-button-box > a,
.submit-button {
  margin: 1rem;
  font-size: 1.2rem;
  border-radius: 10rem;
  padding: 1rem 4rem;
  letter-spacing: 0.1rem;
}

.user-querying-box {
  margin-top: 4rem;
}

.cover-login-signup-button-box > a:hover,
.submit-button:hover {
  transition: 0.5s;
  background-color: #87a2af;
}

.city-box > label,
.form-group > label {
  font-size: 1.5rem;
  color: #fcfaf2;
  letter-spacing: 0.05rem;
}

.form-group {
  margin: 1rem;
}

/* Intro */
.intro-wrapper {
  padding: 3rem;
}

.intro-title-box {
  visibility: hidden;
  animation-duration: 1s;
}

.travel-mate-photo {
  width: 75%;
  padding: 1rem 0;
}
/* Function wrapper */
.function-wrapper {
  padding: 3rem;
  background-color: #bbdef0;
}

.function-container {
  visibility: hidden;
}

.function-box {
  padding: 1rem;
  visibility: hidden;
  animation-duration: 1s;
}

.function-img-top {
  height: 200px;
}
